<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Blog post # <%= @blog_post.id %> has been deleted!</strong></p>
    <p><%= @user.name.capitalize%> deleted blog post # <%= @blog_post.id %>.</p>
    <p>Title: <%= @blog_post.title %></p>
    <p>
		<%=raw @blog_post.content %>
    </p>
    <p>
      Author Info: <%= @user.name %> at <%= @user.email %>.
    </p>
  </body>
</html>