<header class="navbar">
	<div class="navbar-inner">
		<div class="page-wrap navbar-container">
			<div class="page-wrap main-logo"><%= link_to "Maggie Moreno", root_path, id: "logo" %></div>
			<div class="page-wrap nav-links">
				<li><%= link_to "About Me", about_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Contact", contact_path%></li>
        <li><%= link_to "Blog", blog_path %></li>
			</div>
		</div>
	</div> 
</header>