<header class="navbar">
	<div class="navbar-inner">
		<div class="page-wrap navbar-container">
			<div class="page-wrap main-logo"><%= link_to "Maggie Moreno", "http://www.missmaggiemo.com/", id: "logo" %></div>
			<div class="page-wrap nav-links">
				<li><%= link_to "About Me", "http://www.missmaggiemo.com/about" %></li>
				<li><%= link_to "Projects", "http://www.missmaggiemo.com/projects" %></li>
				<li><%= link_to "Contact", "http://www.missmaggiemo.com/contact"%></li>
        <li><%= link_to "Blog", root_path %></li>
			</div>
		</div>
	</div> 
</header>